<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.wgmesh.tunnel.{{ peer.name }}</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/ssh</string>
        <string>-N</string>
        <string>-T</string>
        <string>-o</string>
        <string>StrictHostKeyChecking=accept-new</string>
        <string>-o</string>
        <string>ServerAliveInterval=30</string>
        <string>-o</string>
        <string>ServerAliveCountMax=3</string>
        <string>-o</string>
        <string>ExitOnForwardFailure=yes</string>
        <string>-o</string>
        <string>BatchMode=yes</string>
        <string>-i</string>
        <string>/etc/wireguard/tunnel_id_ed25519</string>
        <string>-R</string>
        <string>0.0.0.0:{{ peer.reverse_ssh_port }}:localhost:22</string>
        <string>tunnel@{{ hub_public_ip }}</string>
    </array>

    <key>KeepAlive</key>
    <true/>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/var/log/ssh-tunnel.log</string>

    <key>StandardErrorPath</key>
    <string>/var/log/ssh-tunnel.log</string>
</dict>
</plist>
